<!doctype html>
<html id="daddy" lang="en" msg="Printing your resume...">
    <head>
        <link
            rel="shortcut icon"
            href="https://avatars.githubusercontent.com/u/85332859?v=4&size=40"
            type="image/x-icon"
        />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>cwee - Resume Builder</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="../globals.css" />
        <script src="../../scripts/factories.js" defer></script>
        <script src="main.js" defer></script>
    </head>
    <body id="jism"></body>
</html>
